{
  "printWidth": 140,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "quoteProps": "preserve"
}
